<!DOCTYPE html>
<html>
<head>
    <title>CLMT Campus</title>
    <link rel="stylesheet" type="text/css" href="/static/styles_login.css"> <!-- Link the CSS file -->
    <link rel="icon" type="image/png" href="/static/CLMT.png">
</head>
<body>
    <!-- Updated Logo (smaller) -->
    <img id="logo" src="/static/CLMT.png" alt="Your Logo">
    
    <!-- Updated Slogan (positioned below the logo) -->
    <h2 style="margin-top: 100px;">Transform your passion for sustainability into purpose</h2>

    <!-- Modern Signup Button -->
    <button style="margin-top: 60px;" onclick="toggleForm()">Sign-in</button>

    <!-- Login Form (initially hidden) -->
    <form id="login-form" method="POST" action="/">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="/register">Register</a></p>

    <div class="svg-container">
        <img class="svg-image" src="/static/Infographic for the 1st page of the tool  .svg" alt="Your SVG Image">
    </div>

    <script>
        function toggleForm() {
            var form = document.getElementById("login-form");
            form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
        }
    </script>
</body>
</html>