<!DOCTYPE html>
<html>
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>My Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/styles_list.css">
    <link rel="icon" type="image/png" href="/static/CLMT.png">
</head>
<body>
    <div class="container"></div>
        <div class="fixed-header">
            <div class="page_name">
                My Dashboard
            </div>
            <div class="dropdown">
                <button class="dropbtn"> Hello, {{ current_user.username }} <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('survey') }}" target="_blank">Take the Survey</a>
                    <a href="{{ url_for('job_list') }}">Opportunity Hub</a>
                    <a href="{{ url_for('mentor') }}">Mentor Matching</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
        <main>
            <main style="margin-top: 60px;"> <!-- Adjust the margin-top value as needed -->
            <section class="job-list-container">
                <table class="job-list">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Link</th>
                            <th>Deadline</th>
                            <th>Notes</th>
                            <th>Action</th>
                            <th>Final Outcome</th>
                            <th>Save</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in user_jobs %}
                        <form method="POST">
                            <tr>
                                <td>{{ job[2] }}</td>
                                <td>{{ job[3] }}</td>
                                <td><a class="job-link" href="{{ job[7] }}" target="_blank" rel="noopener noreferrer">View</a></td>
                                <td>
                                    <input type="date" name="deadline" value="{{ job[8] }}" required>
                                </td>
                                <td><textarea name="notes" placeholder="Add your notes here">{{ job[9] }}</textarea></td>
                                <td>
                                    <input type="hidden" name="job_id" value="{{ job[0] }}">
                                    <select name="action">
                                        <option value="None" {% if job[11] == 'None' %}selected{% endif %}>None</option>
                                        <option value="Applied" {% if job[11] == 'Applied' %}selected{% endif %}>Applied</option>
                                        <option value="Pending" {% if job[11] == 'Pending' %}selected{% endif %}>Pending</option>
                                        <option value="Interview" {% if job[11] == 'Interview' %}selected{% endif %}>Interview</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="hidden" name="job_id" value="{{ job[0] }}">
                                    <select name="final_outcome">
                                        <option value="None" {% if job[10] == 'None' %}selected{% endif %}>None</option>
                                        <option value="Offer" {% if job[10] == 'Offer' %}selected{% endif %}>Offer</option>
                                        <option value="Rejected" {% if job[10] == 'Rejected' %}selected{% endif %}>Rejected</option>
                                        <option value="In Progress" {% if job[10] == 'In Progress' %}selected{% endif %}>In Progress</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="save-button" type="submit">Save</button>
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>